*, *:before, *:after {
    box-sizing: border-box;
}

body {
    color: #374151;
    margin: 0;
    font-family: sans-serif;
    background-color: #E5E5E5;
}

.container {
    margin: 30px auto;
    max-width: 500px;
    background-color: rgba(200, 200, 200, 0.4);
    padding: 20px 40px;
}

.characters {
    display: grid;
    grid-template-columns: 1.6fr 0.4fr;
    gap: 1px 5px;
}

.line-4 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 3px 0;
}

.line-5 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 3px 5px;
}

.line-4, .line-5 {
    display: grid;
}

.grid-3 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px 3px;
}

.p-2 {
    padding: 1rem;
}

.board {
    width: 100%;
}

.board input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.d-none {
    display: none;
}

.error {
    font-weight: 800;
    font-size: 18px;
    color: rgba(245, 1, 1, 0.9);
    background-color: rgba(0, 0, 0, 0.1);
}

.m-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input[name='character'][value='='] {
    background-color: rgba(0, 0, 0, 0.4);
}
